@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900");
* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  width: 1140px;
  margin: 0 auto; }

.wide-block {
  width: 849px;
  margin-top: 100px; }

.flex-center, .logo, .search-from {
  display: flex;
  align-items: center; }

.flex-box, .top-header, .lower-footer__box, .breadcrumb, summary {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.flex-box-up {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%; }

.cf:after {
  content: "";
  display: table;
  clear: both; }

.btn {
  color: #ffffff;
  background-color: #f16d7f;
  border: none;
  outline: none; }

.btn:hover {
  color: #f16d7f;
  background-color: #ffffff;
  border: 2px solid #f16d7f;
  cursor: pointer; }

/*  верхний слой блока header  */
.top-header {
  height: 100px; }

.top-left-header {
  display: flex;
  justify-content: flex-start; }

.top-right-header {
  display: flex;
  justify-content: flex-end; }

.top-left-header__logo {
  margin-right: 25px; }

/* Logo  */
.logo {
  text-decoration: none; }
  .logo__text {
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;
    color: #222222;
    margin-left: 10px; }
  .logo__text_pink {
    font-weight: 900;
    color: #f16d7f; }

/*  форма поиска  */
.search-from__button {
  width: 90px;
  height: 41px;
  border-radius: 3px 0 0 3px;
  border: 1px solid #e8e8e8;
  background-color: #f5f5f5;
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #ededed 100%);
  cursor: pointer; }

.search-from__button i {
  margin-left: 5px; }

.search-from__input {
  width: 280px;
  height: 41px;
  border-bottom: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  border-left: none;
  border-right: none;
  background-color: #ffffff;
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  text-transform: none;
  line-height: 32px;
  letter-spacing: 0.35px;
  padding-left: 10px; }

.search-from__icon {
  display: inline-block;
  color: #222222;
  border: 1px solid #e8e8e8;
  border-radius: 0 3px 3px 0;
  padding: 10px; }

.search-from__list {
  top: 43px;
  left: -10px;
  width: 265px; }

.search-from__list::before, .search-from__list::after {
  content: "";
  position: absolute;
  left: 68px;
  top: -20px;
  border: 10px solid transparent;
  border-bottom: 10px solid #e8e8e8; }

.search-from__list::after {
  border-bottom: 10px solid #ffffff;
  top: -19px; }

.my_acc {
  width: 130px;
  height: 38px;
  font-weight: 400;
  font-size: 15px;
  padding-left: 10px;
  margin-left: 20px; }

/* класс для выпадающего меню  */
.dropdown {
  position: relative; }

.dropdown:hover .dropdown-content {
  display: block; }

.dropdown-content {
  display: none;
  position: absolute;
  padding: 15px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
  border: 1px solid #e8e8e8;
  z-index: 2; }

/* оформление выпадающего меню  */
.list-dropdown .title-dropdown {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  line-height: 32px;
  letter-spacing: 0.35px;
  border-bottom: 1px solid #e8e8e8;
  padding-top: 20px; }

.list-dropdown .title-dropdown:first-child {
  padding-top: 0; }

.list-dropdown .super-sale {
  padding-top: 15px; }

.list-dropdown .super-sale p {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  width: 100px;
  position: absolute;
  bottom: 25px;
  right: 0;
  color: #ffffff;
  line-height: 28px;
  letter-spacing: 0.55px; }

.list-dropdown ul li {
  display: block;
  list-style: none;
  padding: 0 0 0 15px; }

.list-dropdown ul li:hover {
  border-bottom: none; }

.list-dropdown ul li a {
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
  color: #222222;
  line-height: 28px;
  letter-spacing: 0.35px;
  padding: 0; }

.list-dropdown ul li a:hover {
  color: #f16d7f;
  border-bottom: none; }

/*  Main menu  */
.header__nav {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 51px;
  display: flex;
  justify-content: center;
  background: #ffffff;
  border-top: 1px solid #e8e8e8;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); }

nav ul li {
  display: inline-block;
  list-style: none;
  padding: 15px 0; }

nav ul li a {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  text-decoration: none;
  padding: 15px 30px; }

nav ul li a:hover {
  color: #f16d7f;
  border-bottom: 3px solid #f16d7f; }

nav ul li .active_link {
  border-bottom: 3px solid #ea2742; }

nav ul li .mega-menu {
  width: 800px;
  top: 37px;
  left: 10px; }

nav ul li .mega-menu::before, nav ul li .mega-menu::after {
  content: "";
  position: absolute;
  left: 40px;
  top: -20px;
  border: 10px solid transparent;
  border-bottom: 10px solid #e8e8e8; }

nav ul li .mega-menu::after {
  border-bottom: 10px solid #ffffff;
  top: -19px; }

nav ul li .mega-menu .mega-menu-row {
  display: inline-block;
  width: 255px;
  float: left;
  padding-right: 15px; }

/*  Product (v.1.0)  */
.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.product a {
  text-decoration: none; }

.product-title {
  font-size: 30px;
  font-weight: 700;
  text-transform: none;
  display: block;
  text-align: center;
  width: 100%;
  color: #222222;
  letter-spacing: 0.75px; }

.product-desc {
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  display: block;
  text-align: center;
  width: 100%;
  line-height: 54px;
  color: #9f9f9f;
  letter-spacing: 0.35px; }

.product-box {
  width: 263px;
  margin-top: 36px;
  background-color: #ffffff;
  position: relative;
  z-index: 1; }

.product-box:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16); }

.product-box:hover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 283px;
  background: #3c3c3c;
  opacity: 0.8;
  z-index: 2; }

.basket, .recicle {
  width: 27px;
  height: 25px;
  position: relative;
  top: 5px;
  left: -5px; }

.product-box button {
  font-size: 13px;
  font-weight: 700;
  text-transform: none;
  display: none;
  width: 126px;
  height: 42px;
  border: 1px solid #ffffff;
  background: none;
  color: #ffffff;
  line-height: 42px;
  cursor: pointer; }

.product-box:hover button {
  display: block;
  position: absolute;
  top: 100px;
  left: 70px;
  z-index: 3; }

.product-box-name {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  width: 263px;
  padding: 15px;
  line-height: 20px; }

.product-box-price {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
  line-height: 20px;
  padding: 0 15px 15px; }

/* Button Browse all products (v.1.0)  */
.browse-products {
  font-size: 16px;
  font-weight: 700;
  text-transform: none;
  background-color: #f16d7f;
  color: #ffffff;
  margin: 50px auto 50px;
  text-align: center;
  width: 215px;
  height: 51px;
  letter-spacing: 0.4px;
  outline: none;
  border: 2px solid #ffffff; }

.browse-products i {
  margin: 10px; }

/*   Subscribe (v.1.0)  */
.subscribe {
  background: #f2f2f2 url(../img/Layer_41.png) center center no-repeat;
  height: 441px;
  position: relative;
  z-index: 1; }

.subscribe:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e8e8e8;
  opacity: 0.4;
  z-index: -1; }

.subscribe-block {
  display: flex; }

.subscribe-block-left {
  width: 50%;
  margin-top: 135px; }

.subscribe-block-left img {
  display: inline-block;
  float: left;
  margin: 0 30px 100px 0; }

.subscribe-block-left p {
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  color: #222222;
  font-style: italic;
  line-height: 26px;
  letter-spacing: 0.4px;
  margin-right: 70px; }

.scroll {
  display: flex; }

.scroll__btn {
  display: block;
  width: 38px;
  margin-right: 13px;
  margin-top: 40px;
  border-bottom: 4px solid #e6e6e6; }

.scroll__btn_active {
  border-bottom: 4px solid #ef5b70; }

.subscribe-block-left .signature {
  font-size: 16px;
  font-weight: 700;
  text-transform: none;
  color: #f16d7f;
  font-style: normal;
  letter-spacing: 0.4px;
  line-height: 26px; }

.subscribe-block-left .signature .place {
  font-size: 12px;
  font-weight: 300;
  text-transform: none;
  color: #222222;
  display: block;
  letter-spacing: 0.3px;
  line-height: 14px; }

.subscribe-block-right {
  width: 50%;
  height: 441px;
  text-align: center;
  border-left: 2px solid #ffffff; }

.subscribe-block-right .box {
  width: 100%;
  height: 100%; }

.subscribe-block-right .box h4 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  margin: 120px 0 33px;
  letter-spacing: 0.6px;
  line-height: 54px; }

.subscribe-block-right .box h4 .small {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  letter-spacing: 0.35px;
  line-height: 24px; }

.subscribe-block-right .box input {
  width: 282px;
  height: 49px;
  border-radius: 23px 0 0 23px;
  background-color: #dbdbdb;
  outline: none;
  border: none;
  padding-left: 30px;
  padding-right: 10px; }

.subscribe-block-right .box button {
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  color: #ffffff;
  background-color: #f16d7f;
  width: 107px;
  height: 49px;
  border-radius: 0 23px 23px 0;
  outline: none;
  border: none;
  letter-spacing: 0.35px;
  cursor: pointer; }

.subscribe-block-right .box button:hover {
  background-color: #ed3e56; }

/*  Footer  (v.1.0)  */
.footer {
  margin-top: 100px; }

.footer-text {
  font-size: 14px;
  font-weight: 300;
  text-transform: none;
  color: #222222;
  width: 450px;
  line-height: 24px;
  letter-spacing: 0.35px;
  margin-top: 20px; }

.footer-menu-block h4 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
  line-height: 26px;
  letter-spacing: 0.45px; }

.footer-menu-block ul {
  list-style-type: none; }

.footer-menu-block ul a {
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  color: #222222;
  letter-spacing: 0.4px;
  line-height: 42px;
  text-decoration: none; }

.footer-menu-block ul a:hover {
  color: #f16d7f; }

.lower-footer {
  margin-top: 100px;
  background-color: #e8e8e8; }

.lower-footer__box {
  height: 81px; }

.lower-footer-text {
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  color: #222222;
  line-height: 42px;
  letter-spacing: 0.4px; }

.lower-footer-social-item {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: #ffffff;
  color: #bbbbbb;
  line-height: 35px;
  text-align: center; }

.lower-footer-social-item:hover {
  background-color: #f16d7f;
  color: #ffffff; }

/* Slider  */
.slider {
  display: block;
  height: 665px;
  width: 100%;
  background: #e8e8e8; }

.slider-bg {
  height: 100%;
  background: url(../img/promo_back.jpg); }

.slider-bg h1 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  line-height: 32px;
  letter-spacing: 1px;
  border-left: 14px solid #f16d7f;
  padding-left: 15px; }

.slider-bg h1:hover {
  -webkit-transform: scale(1.2, 1.2);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 550ms;
  -moz-transform: scale(1.2, 1.2);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 550ms; }

.slider-bg h1 .title-big {
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 42px;
  margin-bottom: 15px;
  letter-spacing: 1.5px;
  display: block; }

.slider-bg h1 .title-red {
  color: #f16d7f; }

/*  Category  */
.category {
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 900px; }

.category-box {
  position: relative;
  margin: 20px 20px 0 0; }

.category-box:hover {
  cursor: pointer; }

.category-box:hover img {
  opacity: 0.5;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5); }

.category-box-title {
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 17px 20px;
  background-color: #ffffff;
  position: absolute;
  top: 25px; }

.category-box-title-red {
  font-size: 30px;
  display: block;
  color: #f16d7f; }

/* Feature (v.1.0) */
.feature {
  display: flex;
  margin: 100px auto; }

.feature-title {
  display: block;
  width: 767px;
  height: 529px;
  background: #222222 url(../img/Image.png) 0 0 no-repeat; }

.feature-title:hover :hover {
  -webkit-transform: scale(1.1, 1.1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 350ms;
  -moz-transform: scale(1.1, 1.1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 350ms; }

.feature-title h2 {
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  top: 146px;
  left: 39px;
  width: 60%;
  letter-spacing: 1.5px; }

.feature-title h2 .offer {
  color: #f16d7f; }

.feature-title h2 .forwomen {
  display: block;
  font-size: 32px;
  letter-spacing: 0.9px; }

.feature-sidebox {
  display: block;
  float: left;
  width: 370px;
  padding: 10px 30px 0 111px;
  background-color: #222222;
  color: #ffffff; }

.feature-sidebox ul {
  list-style: none; }

.feature-sidebox ul li {
  margin-bottom: 10px; }

.feature-sidebox ul li img {
  position: relative;
  top: 35px;
  left: -78px; }

.feature-sidebox h3 {
  font-size: 20px;
  font-weight: 700;
  text-transform: none;
  color: #ffffff;
  letter-spacing: 0.5px;
  margin-bottom: 15px; }

.feature-sidebox p {
  font-size: 14px;
  font-weight: 300;
  text-transform: none;
  color: #ffffff;
  line-height: 20px;
  letter-spacing: 0.35px; }

/*  Product page (v.1.0)  */
.breadcrumb {
  margin: 51px 0 0;
  width: 100%;
  height: 148px;
  background-color: #fdeff1; }

.breadcrumb-name {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 900;
  line-height: 20px;
  text-transform: uppercase; }

.breadcrumb-path a {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  color: #636363; }

.breadcrumb-path a span {
  color: #f16d7f;
  font-weight: 700; }

/*  Product page - Navigation (v.1.0)  */
.side-nav {
  display: block;
  width: 261px;
  margin-right: 30px;
  margin-top: 100px; }

summary {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  height: 37px;
  line-height: 37px;
  padding-left: 10px;
  border-left: 5px solid #ef5b70;
  border-bottom: 1px solid #ebebeb;
  color: #222222; }

summary::-webkit-details-marker {
  display: none; }

summary::after {
  content: "▲";
  padding-left: 0.5em;
  color: #222222;
  font-size: 10px; }

details {
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  color: #6f6e6e;
  line-height: 33px; }

details ul li:last-child {
  margin-bottom: 30px; }

details[open] > summary::after {
  content: "▼";
  color: #ef5b70; }

details[open] > summary {
  color: #ef5b70; }

/* =============================================  Product page - Filters (v.1.0)  */
#range {
  width: 100%; }

fieldset {
  display: inline-block;
  width: 263px;
  border: 0; }

fieldset ul li {
  display: inline-block;
  list-style: none; }

fieldset ul li a {
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  color: #6f6e6e;
  line-height: 26px;
  padding: 5px 10px 5px 0; }

fieldset ul li a:hover {
  color: #f16d7f; }

fieldset ul span {
  color: #dfdfdf;
  margin-right: 10px; }

legend {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6f6e6e;
  margin-bottom: 20px; }

.size {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  width: 56px;
  color: #6f6e6e;
  line-height: 15px;
  position: relative;
  padding-left: 20px;
  margin-bottom: 15px; }

label:hover input ~ .check {
  background-color: #ccc; }

label input:checked ~ .check {
  background-color: #ef5b70; }

.check {
  position: absolute;
  top: 2px;
  left: 0;
  height: 13px;
  width: 13px;
  background-color: #ffffff;
  border: 1px solid #ebebeb; }

/* =============================================  Product page - Range (v.1.0)  */
.price-range {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px; }

input[type=range] {
  height: 20px;
  -webkit-appearance: none;
  margin: 5px 0;
  width: 100%; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animation: 0.2s;
  box-shadow: 0 0 0 #ffffff;
  background: #F0F0F0;
  border-radius: 3px;
  border: 0 solid #ffffff; }

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0 0 0 #ffffff;
  border: 0 solid #ffffff;
  height: 14px;
  width: 14px;
  border-radius: 10px;
  background: #f16d7f;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #F0F0F0; }

input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animation: 0.2s;
  background: #F0F0F0;
  border-radius: 3px; }

input[type=range]::-moz-range-thumb {
  box-shadow: 0 0 0 #ffffff;
  border: 0 solid #ffffff;
  height: 14px;
  width: 14px;
  border-radius: 10px;
  background: #f16d7f;
  cursor: pointer; }

input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animation: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent; }

input[type=range]::-ms-fill-lower {
  background: #F0F0F0;
  border-radius: 6px; }

input[type=range]::-ms-fill-upper {
  background: #F0F0F0;
  border-radius: 6px; }

input[type=range]::-ms-thumb {
  margin-top: 1px;
  height: 14px;
  width: 14px;
  border-radius: 10px;
  background: #f16d7f;
  cursor: pointer; }

input[type=range]:focus::-ms-fill-lower {
  background: #F0F0F0; }

input[type=range]:focus::-ms-fill-upper {
  background: #F0F0F0; }

/* =============================================  Product page - Sort (v.1.0)  */
.sort-block {
  width: 100%;
  margin-top: 30px;
  background-color: #f3f3f3; }

.sort-block p {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  display: inline-block;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  margin: 10px 0 10px 10px;
  padding: 0 13px; }

.sort-block select {
  color: #6f6e6e;
  font-size: 16px;
  display: inline-block; }

/* =============================================  Product page - Pagination (v.1.0)  */
.bottom-wide {
  width: 100%; }

.pagination {
  margin: 50px 0;
  display: inline-block;
  border: 1px solid #ddd; }

.pagination a {
  color: #c4c4c4;
  font-size: 16px;
  font-weight: 700;
  float: left;
  padding: 8px;
  text-decoration: none;
  transition: background-color 0.3s; }

.pagination a.active {
  color: #f16d7f; }

.pagination a:hover:not(.active) {
  color: #ffffff;
  background-color: #f16d7f; }

.viewall-btn {
  font-size: 16px;
  font-weight: 700;
  text-transform: none;
  background-color: #ffffff;
  color: #f16d7f;
  margin: 50px 0;
  padding: 15px 45px;
  text-align: center;
  letter-spacing: 0.4px;
  outline: none;
  border: 2px solid #f16d7f;
  border-radius: 5px; }

.viewall-btn:hover {
  background-color: #f16d7f;
  color: #ffffff;
  border: 2px solid #ffffff;
  cursor: pointer; }

/* =============================================  Product page - Pagination (v.1.0)  */
.featurebox {
  width: 100%;
  background-color: #222222; }

.featurebox-item {
  width: 320px;
  text-align: center;
  color: #ffffff;
  margin: 90px 15px; }

.featurebox-item h3 {
  font-size: 20px;
  font-weight: 700;
  text-transform: none;
  letter-spacing: 0.5px;
  margin-bottom: 15px; }

.featurebox-item p {
  font-size: 14px;
  font-weight: 300;
  text-transform: none;
  line-height: 20px;
  letter-spacing: 0.35px; }

/* =============================================  Single page (v.1.0)  */
.singlepage-slider {
  width: 100%;
  border: 1px solid #e8e8e8;
  background-color: #f7f7f7; }

.singlepage-slider img {
  margin: 11px auto 42px;
  display: block; }

.sp_nav {
  position: relative; }

.sp_nav .prev, .sp_nav .next {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #e8e8e8;
  color: #ffffff;
  line-height: 62px; }

.sp_nav .prev {
  left: 0; }

.sp_nav .next {
  right: 0; }

.sp_nav .prev:hover, .sp_nav .next:hover {
  background-color: #ffffff;
  color: #f16d7f; }

.big-product-text {
  border: 1px solid #e8e8e8;
  background-color: #ffffff;
  position: relative;
  top: -50px;
  text-align: center; }

.blocks-margin {
  margin-top: 100px;
  margin-bottom: 70px; }

.bp-group {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
  margin-top: 70px; }

.bp-name {
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  color: #4d4d4d; }

.bp-text {
  font-size: 14px;
  font-weight: 300;
  text-transform: none;
  color: #5e5e5e;
  line-height: 24px;
  padding: 70px 250px 0; }

.bp-price {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
  margin: 40px auto; }

.bp-material, .bp-designer {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #b9b9b9;
  display: inline-block;
  margin: 28px 20px 0; }

.bp-material span, .bp-designer span {
  color: #2f2f2f; }

.line {
  margin: 15px auto;
  position: relative;
  width: 150px;
  border-top: 1px solid #e8e8e8; }

.line:before {
  position: absolute;
  top: -2px;
  left: 45px;
  width: 60px;
  border-top: 3px solid #f16d7f;
  content: ""; }

.checkout {
  margin-top: 50px; }

.checkout-block {
  padding: 30px 0;
  border-bottom: 1px solid #e8e8e8; }

.checkout-block h3 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase; }

.checkout-block h4 {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase; }

.checkout-block p {
  color: #b5b5b5; }

/* Cart Page */
.cart-header, .cart-product {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea; }

.cart-column {
  flex-grow: 1;
  max-width: 10%;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: #656565;
  font-size: 0.813rem;
  font-weight: 400;
  line-height: 1.538; }

.cart-column:first-child {
  flex-grow: 3;
  max-width: 35%;
  text-align: left;
  justify-content: flex-start; }

.cart-column:last-child {
  max-width: 5%; }

.cart-header {
  padding: 20px 0;
  margin-top: 70px; }

.cart-header .cart-column {
  color: #222222;
  font-weight: 700;
  text-transform: uppercase; }

.cart-product {
  min-height: 162px; }

.cart-image {
  max-width: 100px;
  max-height: 115px; }

.cart-image img {
  max-width: 100%; }

.cart-image img:hover {
  transform: scale(1.1);
  -webkit-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease; }

.cart-product__details {
  padding-left: 21px;
  box-sizing: border-box; }

.cart-product__details .cart-product__title, .cart-product__details .cart-product__title h2 {
  color: #222222;
  font-size: 0.813rem;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 0 18px; }

.cart-product__details .cart-product__title:hover, .cart-product__details .cart-product__title h2:hover {
  color: #cf4b5d; }

.cart-product__details .cart-product__attr {
  color: #575757;
  font-size: 0.813rem;
  font-weight: 400;
  line-height: 1.538; }

.cart-product__details .cart-product__attr span, .cart-product__details .cart-product__attr a {
  color: #6f6e6e;
  font-weight: 300;
  text-decoration: none; }

.cart-product__quantity input {
  border-style: solid;
  border-width: 1px;
  border-color: #eaeaea;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 54px;
  height: 30px;
  text-align: center;
  padding: 1px 5px; }

.cart-product__action {
  font-size: 1rem; }

.cart-footer {
  margin-top: 34px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between; }

.cart-footer .button-second {
  margin: 10px 0;
  width: 235px; }

.cart-blocks {
  margin-top: 43px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 150px; }

.cart-blocks .cart-block {
  flex-grow: 1;
  width: 360px;
  box-sizing: border-box; }

.cart-blocks .cart-block__title {
  color: #222222;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase; }

.cart-blocks .cart-block__subtitle {
  color: #000000;
  font-size: 0.875rem;
  font-weight: 300; }

.cart-blocks .select {
  width: 355px;
  margin: 20px 0;
  height: 45px;
  padding: 15px 14px; }

.cart-blocks .select .options {
  top: 44px; }

.cart-blocks .button-second {
  margin: 5px 0; }

.cart-block__total {
  background-color: #f5f3f3;
  height: 214px;
  width: 360px;
  padding: 40px 42px; }

.cart-block__total .cart-total__sub {
  color: #4a4a4a;
  font-size: 0.688rem;
  font-weight: 400;
  text-align: right; }

.cart-block__total .cart-total__sub .currency {
  padding-left: 15px; }

.cart-block__total h2.cart-total__grand {
  color: #222222;
  font-size: 1rem;
  font-weight: 700;
  text-align: right; }

.cart-block__total h2.cart-total__grand .currency {
  color: #f16d7f;
  padding-left: 15px; }

.cart-block__total hr {
  border: 1px solid #e2e2e2; }

.cart-block__total .button-main {
  margin-top: 17px; }

.button-main--cart {
  width: 100%;
  height: 50px;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 3; }

@media screen and (max-width: 850px) {
  .cart-image {
    max-width: 25%;
    max-height: inherit; }
  .cart-product__details {
    max-width: 75%; }
  .cart-blocks {
    justify-content: space-around; }
  .cart-blocks select {
    width: 95%; }
  .cart-blocks .cart-block {
    margin: 15px 0; }
  .cart-footer .button-second {
    margin: 10px auto; } }

.cart-footer .button-second {
  margin: 10px 0;
  width: 235px; }

.button-second:hover {
  color: #fff;
  background-color: #4a494a; }

.button-second {
  border: 1px #eaeaea solid;
  color: #4a494a;
  min-width: 225px;
  height: 50px;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 3.4em;
  box-sizing: border-box;
  background-color: #fff;
  padding: 0 12px;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center; }

.fa-times-circle {
  content: "\f057";
  color: gray; }

.select-dropdown {
  cursor: pointer;
  position: relative; }

.select-dropdown:hover .options {
  visibility: visible;
  opacity: 1; }

.select-dropdown .options {
  visibility: hidden;
  margin: 0;
  border-style: solid;
  border-width: 1px;
  border-color: #eaeaea;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  padding: 8px 0;
  left: 0;
  top: 34px;
  background-color: white;
  opacity: 0;
  z-index: 10;
  -webkit-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  list-style-type: none; }

.cart-block__total .button-main {
  margin-top: 17px; }

.button-main--cart {
  width: 100%;
  height: 50px;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 3; }

.button-main {
  box-sizing: border-box;
  background-color: #f16d7f;
  color: #fff;
  line-height: 2.133;
  min-width: 130px;
  height: 38px;
  display: inline-block;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  font-weight: 400; }

.select {
  border-style: solid;
  border-width: 1px;
  border-color: #eaeaea;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 144px;
  height: 36px;
  padding: 8px 14px;
  text-align: left;
  color: #676767;
  font-size: 13px;
  font-weight: 400;
  display: block; }

.cart-block__total .cart-total__sub {
  color: #4a4a4a;
  font-size: 0.688rem;
  font-weight: 400;
  text-align: right;
  margin-top: 10px;
  line-height: 1.15; }

.currency:before {
  content: '$'; }

/* ==== выпадающее меню Корзины ==== */
.cart {
  top: 40px;
  left: -60px;
  width: 262px; }

.cart::before, .cart::after {
  content: "";
  position: absolute;
  left: 68px;
  top: -20px;
  border: 10px solid transparent;
  border-bottom: 10px solid #e8e8e8; }

.cart::after {
  border-bottom: 10px solid #ffffff;
  top: -19px; }

.cart .goods {
  border-bottom: 1px solid #e8e8e8;
  padding: 15px 0; }

.cart .goods:first-child {
  padding-top: 0; }

.cart .goods img {
  float: left; }

.cart .goods .info {
  width: 100px;
  float: left;
  margin: 10px; }

.cart .goods .info a {
  text-decoration: none; }

.cart .goods .info .name {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase; }

.cart .goods .info .rating {
  color: #e4af48; }

.cart .goods .info .price {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #f16d7f; }

.cart .goods i {
  float: right;
  margin-top: 40px;
  font-size: 16px;
  color: #c2c2c2;
  cursor: pointer; }

.cart .total {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 20px;
  padding: 20px 0; }

.cart .total span {
  float: right; }

.cart button {
  font-size: 14x;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #222222;
  background-color: #ffffff;
  color: #222222;
  cursor: pointer; }

.cart button:hover {
  border: 1px solid #f16d7f;
  color: #f16d7f; }

.my_acc {
  width: 130px;
  height: 38px;
  font-weight: 400;
  font-size: 15px;
  padding-left: 10px;
  margin-left: 20px; }

.my_acc i {
  margin-left: 10px; }

.cart__items-count {
  background-color: #f16d7f;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  top: 1px;
  right: -10px;
  cursor: pointer;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.6em;
  transition: background-color 0.3s ease; }

/* Checkout */
.checkout-menu {
  padding: 25px 0 79px 0; }

.checkout-menu__details {
  transition: all 0.5s ease; }

.checkout-menu__details:hover {
  background-color: #f5f5f5; }

.checkout-menu__details summary::-webkit-details-marker {
  display: none; }

.checkout-menu__details summary {
  color: #222222;
  font-size: 16px;
  font-weight: 900;
  line-height: 64px;
  text-align: left;
  border-left: none;
  text-transform: uppercase;
  transition: all 0.5s ease; }

.checkout-menu__details:hover summary {
  transform: translateX(30px);
  margin-left: 30px; }

.checkout-menu__details summary:focus {
  outline: none; }

.checkout-menu hr {
  border: solid 1px #e8e8e8;
  margin: 0;
  padding: 0; }

.checkout-register {
  display: flex;
  justify-content: space-between;
  padding: 0 167px 79px 35px;
  margin-top: 50px; }

.checkout-register p {
  font-size: 13px;
  line-height: 13px;
  margin-top: 13px;
  margin-bottom: 15px;
  color: #222222;
  font-weight: 900;
  text-transform: uppercase; }

.checkout-register span {
  display: block;
  font-size: 13px;
  line-height: 13px;
  color: #898989;
  margin-bottom: 30px; }

.checkout-register label {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: #222222;
  margin-bottom: 15px; }

.checkout-register input[type="radio"] {
  background: white;
  border: solid 2px black;
  margin-right: 15px; }

.checkout-register input[type="submit"] {
  width: 180px;
  height: 50px;
  font-size: 14px;
  font-weight: 700;
  float: left; }

.checkout-register .fast {
  margin-bottom: 15px; }

.checkout-register .register {
  margin-bottom: 33px; }

.checkout-register .red {
  display: inline;
  color: #ef5b70;
  font-size: 13px;
  line-height: 1.54;
  text-transform: none;
  font-weight: 400; }

.checkout-register .input {
  font-size: 12px;
  line-height: 12px;
  margin-top: 20px;
  margin-bottom: 14px; }

.checkout-register input[type="email"], .checkout-register input[type="password"] {
  width: 330px;
  height: 45px;
  border: solid 1px #e8e8e8;
  padding-left: 15px;
  padding-right: 15px; }

.checkout-register input[type="email"]:focus {
  outline: none; }

.checkout-register input[type="password"]:focus {
  outline: none; }

.checkout-register .log {
  margin-bottom: 0; }

.checkout-register form {
  position: relative; }

.checkout-register .forgot {
  position: absolute;
  bottom: 18px;
  right: 20px;
  height: 65px;
  font-size: 14px;
  font-weight: 700;
  color: #222222;
  text-decoration: none; }

.checkout-register .forgot:hover {
  text-decoration: underline; }

/* светло-серая кнопка */
.black_button a {
  color: #222222;
  display: block;
  font-size: 14px;
  font-weight: 900;
  line-height: 50px;
  outline: 1px solid #e8e8e8;
  text-decoration: none;
  transition: all 0.5s ease; }

.black_button a:hover {
  background-color: #e8e8e8;
  color: white;
  outline: none; }

.black_button a:active {
  left: 3px;
  position: relative;
  top: 3px; }

.black_button input[type="submit"] {
  background-color: white;
  border: solid 1px #e8e8e8;
  color: #222222;
  font-size: 11px;
  font-weight: 700;
  line-height: 50px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.5s ease; }

.black_button input[type="submit"]:hover {
  background-color: #e8e8e8;
  color: white; }

.black_button input[type="submit"]:focus {
  left: 3px;
  outline: none;
  position: relative;
  top: 3px; }

.miss {
  color: #e8e8e8;
  font-size: 16px;
  text-align: right;
  display: block; }

.miss :hover {
  transform: scale(2) rotate(180deg);
  transform: scale(1.7);
  transition: all 0.5s ease; }
